<div class="container">
<h3> Interaction between parent child component</h3>
<br/><br/>
<table class="table">
  <thead>
    <tr>
      <th> Emp ID</th>
      <th> Name</th>
      <th> Age</th>
      <th> Designation</th>
      <th> Salary</th>
      <th> </th>
    </tr>
    <tr *ngFor="let emp of employees">
      <td> {{emp.empId}} </td>
      <td> {{emp.name}} </td>
      <td> {{emp.age}} </td>
      <td> {{emp.designation}} </td>
      <td> {{emp.salary}} </td>
      <td> <button class="btn btn-primary"> Edit </button> </td>
    </tr>
  </thead>
</table>
</div>